@charset "utf-8";

$backgroundColor: #e2e2e2;
$fontSize: 1.8em;

$backgroundNav: rgb(150, 14, 127);
$foregroundNav: rgb(235, 235, 235);
$backgroundNavLink: #333;
$backgroundNavLinkHover: #444;

$loading-transition-duration: 100ms;
