@import '../node_modules/milligram/dist/milligram.min.css';
@import './vars';
@import './components/nav';

.app {
  background-color: $backgroundColor;
}

.page {
  height: 100vh;

  &-transition-enter {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  &-transition-enter-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: opacity $loading-transition-duration, transform $loading-transition-duration;
  }
  &-transition-exit {
    opacity: 1;
  }
  &-transition-exit-active {
    opacity: 0;
    transition: opacity $loading-transition-duration;
  }
  .loading-indicator-appear,
  .loading-indicator-enter {
    opacity: 0;
  }
  .loading-indicator-appear-active,
  .loading-indicator-enter-active {
    opacity: 1;
    transition: opacity $loading-transition-duration;
  }
}

section {
  & .wrapper {
    background: #f4f4f4;
  }
}
